#header_anchor{
    -fx-background-image: url("../drawable/header_about.gif");
}

#text_anchor{
    -fx-background-image: url("../drawable/text_about.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0 40;
    -fx-background-size: 450, 100;
}

