@font-face {
    font-family: 'Affirmative';
    src: url('fonts/Affirmative.otf');
}

.title {
    -fx-font-family: 'Affirmative';
}

#welcome {
    -fx-font-family: 'Affirmative';
}

.clickLabel:hover {
    -fx-text-fill: #0B0080;
}

.jfx-combo-box {
    -fx-prompt-text-fill: #4d4d4d;
    -fx-font-size: 15;
}

#spinner .track {
    -fx-stroke: #96f887;
}
